<template>
  <div class="home">
    <vw-list :elements="elements" />
  </div>
</template>

<script>
import VwList from "@/components/organisms/VwList";
import Json from "@/assets/json/data.json";

export default {
  name: "home",
  components: {
    VwList
  },
  data: () => ({
    elements: []
  }),
  mounted() {
    this.fetchElements();
  },
  methods: {
    fetchElements() {
      Object.keys(Json).map(result => {
        this.fillElements(Json[result]);
      });
    },
    fillElements(inject) {
      const addObj = this.formatObj(inject);
      this.elements.push(addObj);
    },
    formatObj(obj) {
      let format = {
        ...obj,
        checked: false,
        opened: false,
        children: []
      };

      Object.keys(obj.children).map(result => {
        format.children.push(this.formatObj(obj.children[result]));
      });

      return format;
    },
    changeValue(value) {
      return value;
    }
  }
};
</script>

<style scoped lang="scss">
.plug {
  width: 100%;
  display: inline-block;
}
</style>
