<template>
  <div class="toggle-arrow" @click="changeStatus()">
    <icon
      class="toggle-arrow__icon"
      :class="activeArrow"
      :colorStroke="colorStroke"
      icon="arrow-down"
    />
  </div>
</template>

<script>
import Icon from "@/components/utils/Icon";
export default {
  name: "ToggleArrow",
  components: {
    Icon
  },
  props: {
    isActive: Boolean,
    element: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    activeInfo: {
      changed: false,
      isActive: false
    }
  }),
  mounted() {
    this.activeInfo.isActive = this.isActive;
  },
  computed: {
    active() {
      let checked = this.isActive;
      if (this.activeInfo.changed) checked = this.activeInfo.isActive;
      return checked;
    },
    activeArrow() {
      if (this.activeInfo.isActive) return "toggle-arrow__icon--up";
      return "";
    },
    colorStroke() {
      if (this.active) return "#03aeef";
      return "#000";
    }
  },
  methods: {
    /**
     * Update active when toggle is clicked
     */
    changeStatus() {
      this.activeInfo.changed = true;
      this.activeInfo.isActive = !this.activeInfo.isActive;
      const emitValue = {
        active: this.active,
        element: this.element
      };
      this.$emit("statusActive", emitValue);
    }
  }
};
</script>

<style scoped lang="scss">
.toggle-arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;

  &__icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 1px;
    transition: all 0.2s linear;

    &--up {
      transform: rotate(180deg);
      transition: all 0.2s linear;
      top: 2px;
    }
  }
}
</style>
