<template>
  <div class="vw-checkbox" @click="changeStatus" :class="classChecked">
    <span v-if="isPartialChecked" class="vw-checkbox__partial">-</span>
    <icon class="vw-checkbox__icon" v-if="showCheckIcon" icon="check" />
  </div>
</template>

<script>
import Icon from "@/components/utils/Icon";
export default {
  name: "VwCheckbox",
  components: {
    Icon
  },
  props: {
    isChecked: Boolean,
    isPartialChecked: Boolean,
    element: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({}),
  computed: {
    active() {
      let checked = this.isChecked;
      return checked;
    },
    showCheckIcon() {
      let showCheck = false;
      if (this.isChecked && !this.isPartialChecked) showCheck = true;
      return showCheck;
    },
    classChecked() {
      let defineClass = "";
      if (this.isChecked || this.isPartialChecked)
        defineClass = "vw-checkbox--checked";
      return defineClass;
    }
  },
  methods: {
    /**
     * Update active when checkbox is clicked
     */
    changeStatus() {
      const emitValue = {
        check: !this.active,
        element: this.element
      };
      this.$emit("statusCheck", emitValue);
    }
  }
};
</script>

<style scoped lang="scss">
.vw-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  transition: all 0.2s linear;
  border-radius: 2px;

  &__partial {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: #fff;
    top: -4px;
    transition: all 0.2s linear;
  }

  &__icon {
    display: inline-block;
    position: relative;
    top: 1px;
  }

  &--checked {
    background-color: #03aeef;
    border-color: #03aeef;
    transition: all 0.2s linear;
  }
}
</style>
