<template>
  <div class="vw-item" @click="checkItem">
    <div class="vw-item__left">
      <vw-checkbox
        :element="item"
        :isChecked="isChecked"
        :isPartialChecked="isPartialChecked"
      />
    </div>
    <div class="vw-item__content">
      {{ item.name }}
    </div>
    <div class="vw-item__right" v-if="isFather">
      <toggle-arrow
        :element="item"
        :isActive="isOpenedToggle"
        @statusActive="changeToggleArrow"
        ref="toggle"
      />
    </div>
  </div>
</template>

<script>
import VwCheckbox from "@/components/atoms/VwCheckbox";
import ToggleArrow from "@/components/atoms/ToggleArrow";

export default {
  name: "VwItem",
  components: {
    VwCheckbox,
    ToggleArrow
  },
  props: {
    isFather: Boolean,
    isPartialChecked: Boolean,
    item: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    toggleArrow: false,
    changingActive: false,
    valueOpen: {
      opened: false,
      isChange: false
    }
  }),
  watch: {
    isChecked() {
      const itemReturn = {
        ...this.item,
        checked: this.isChecked,
        opened: this.isOpenedToggle
      };
      this.$emit("checkValue", itemReturn);
    }
  },
  computed: {
    isChecked() {
      let value = this.item && this.item.checked ? this.item.checked : false;
      return value;
    },
    isOpenedToggle() {
      let value = this.item && this.item.opened ? this.item.opened : false;
      if (this.valueOpen.isChange) value = this.valueOpen.opened;
      return value;
    }
  },
  methods: {
    /**
     * Emit full object
     */
    emitValue() {
      const itemReturn = {
        ...this.item,
        checked: !this.isChecked,
        opened: this.isOpenedToggle
      };
      this.$emit("checkValue", itemReturn);
    },
    /**
     * Update click Arrow
     */
    changeToggleArrow(value) {
      this.toggleArrow = true;
      this.valueOpen.opened = value.active;
      this.valueOpen.isChange = true;
      const itemReturn = {
        ...this.item,
        opened: this.isOpenedToggle
      };
      this.$emit("openedValue", itemReturn);
    },
    /**
     * When click on div vw-item
     */
    checkItem() {
      if (this.toggleArrow || this.changingActive) {
        this.toggleArrow = false;
        this.changingActive = false;
        return false;
      }
      this.emitValue();
      //   console.log(this.$refs.toggle);
    }
  }
};
</script>

<style scoped lang="scss">
.vw-item {
  width: 100%;
  display: flex;
  background-color: #fcfcff;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background-color: #e8e8e8;
    transition: all 0.2s linear;
  }

  &__left {
    text-align: left;
    width: 30px;
    flex-grow: 0;
  }

  &__content {
    text-align: left;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
  }

  &__right {
    text-align: right;
    width: 30px;
    flex-grow: 0;
  }
}
</style>
