<template>
  <div class="vw-list">
    <div v-for="element in elements" :key="element.id">
      <vw-item
        :item="element"
        :isFather="isFather(element.children)"
        :isPartialChecked="isPartialChecked(element.children)"
        @checkValue="checkValue"
        @openedValue="openedValue"
        :style="styleElement"
      />
      <div v-show="element.opened">
        <div v-if="isFather(element.children)">
          <vw-list
            :elements="element.children"
            :paddingLeft="paddingLeft + 15"
            @changeCheck="checkValue"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VwItem from "@/components/molecules/VwItem";
import VwList from "@/components/organisms/VwList";

export default {
  name: "VwList",
  components: {
    VwItem,
    VwList
  },
  props: {
    elements: {
      type: Array,
      default: () => []
    },
    paddingLeft: {
      type: Number,
      default: 10
    }
  },
  data: () => ({}),
  computed: {
    styleElement() {
      const style = {
        paddingLeft: this.paddingLeft + "px"
      };
      return style;
    }
  },
  methods: {
    isFather(el) {
      if (el && el.length > 0) return true;
      return false;
    },
    isPartialChecked(el) {
      if (el && Array.isArray(el)) {
        let count = 0;
        el.map(child => {
          if (child.checked) count++;
        });

        if (count > 0 && count < el.length) return true;
      }
      return false;
    },

    checkValue(val) {
      this.elements.map((element, index) => {
        if (element.id === val.id) {
          this.elements[index].checked = val.checked;

          //   if (element.children) {
          //     console.log("veio");
          //     element.children.map((child, inChild) => {
          //       this.elements[index].children[inChild].checked = true;
          //     });
          //   }
        }
        if (element.children) {
          let count = 0;
          let isFather = false;
          element.children.map(child => {
            if (child.checked) count++;
            if (child.id === val.id) {
              this.elements[index].checked = true;
              isFather = true;
            }
          });
          if (isFather && element.children.length > 0 && count === 0)
            this.elements[index].checked = false;
        }
      });
      this.$emit("changeCheck", val);
    },
    openedValue(val) {
      this.elements.map((element, index) => {
        if (element.id === val.id) {
          this.elements[index].opened = val.opened;
        }
      });
      this.$emit("changeCheck", val);
    }
  }
};
</script>

<style scoped lang="scss">
.vw-list {
  width: 100%;
  display: inline-block;

  &__hidden {
    display: none;
  }
}
</style>
