<template>
  <div class="icon" v-if="icon !== ''">
    <span v-if="icon === 'check'">
      <svg
        enable-background="new 0 0 32 32"
        height="16px"
        version="1.1"
        viewBox="0 0 32 32"
        width="16px"
        xml:space="preserve"
      >
        <path
          clip-rule="evenodd"
          d="M27.704,8.397c-0.394-0.391-1.034-0.391-1.428,0  L11.988,22.59l-6.282-6.193c-0.394-0.391-1.034-0.391-1.428,0c-0.394,0.391-0.394,1.024,0,1.414l6.999,6.899  c0.39,0.386,1.039,0.386,1.429,0L27.704,9.811C28.099,9.421,28.099,8.787,27.704,8.397C27.31,8.006,28.099,8.787,27.704,8.397z"
          fill="#FFF"
          fill-rule="evenodd"
        />
        <g />
        <g />
        <g />
        <g />
        <g />
        <g />
      </svg>
    </span>
    <span v-if="icon === 'arrow-down'">
      <svg
        enable-background="new 0 0 24 24"
        version="1.0"
        viewBox="0 0 24 24"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <polyline
          fill="none"
          points="21,8.5 12,17.5 3,8.5 "
          :stroke="colorStroke"
          stroke-miterlimit="10"
          stroke-width="2"
        />
      </svg>
    </span>
  </div>
</template>

<script>
export default {
  name: "Icon",
  props: {
    icon: {
      type: String,
      default: ""
    },
    colorStroke: {
      type: String,
      default: "#000"
    }
  }
};
</script>

<style scoped lang="scss">
.icon {
  display: inline-block;
}
</style>
